<header class="header">
    <div class="grid wide">
        <div class="header_wrap">
            <ul class="header_list">
                <li class="header_item  hide-on-pc" onclick="showListMB()">
                    <i class="fas fa-bars header_item-link"></i>
                </li>
                <li class="header_item"><a class="header_item-link brand" href="/">KMA</a></li>
                <li class="header_item hide-on-mobile"><a class="header_item-link" href="/">TRANG CHỦ</a></li>
                <li class="header_item"><a class="header_item-link" href="/course">KHÓA HỌC</a>
                    <ul class="header_navbar-list">
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 1 năm nhất</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 2 năm nhất</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 1 năm 2</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="/courseDetail/ki-4">Học kì 2 năm 2</a>
                                <ul class="header_subnav-list">
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-4/quan-tri-mang-may-tinh">Quản trị mạng máy tính</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-4/chuong-trinh-dich">Chương trình dịch</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-4/dien-tu-tuong-tu-va-so">Điện tử tương tự - số</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-4/tieng-anh-2">Tiếng anh 2</a></li>
                                </ul>
                            </li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="/courseDetail/ki-5">Học kì 1 năm 3</a>
                                 <ul class="header_subnav-list">
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/he-quan-tri-co-so-du-lieu">Hệ quản trị CSDL</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/cau-truc-du-lieu-va-giai-thuat">Cấu trúc dữ liệu giải thuật</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/ky-thuat-vi-xu-ly">Kỹ thuật vi xử lý</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/co-so-ly-thuyet-truyen-tin">Cơ sở lý thuyết truyền tin</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/xu-ly-tin-hieu-so">Xử lý tín hiệu số</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/thuat-toan-an-toan-thong-tin">Thuật toán ATTT</a></li>
                                </ul>
                            </li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="/courseDetail/ki-6">Học kì 2 năm 3</a>
                                <ul class="header_subnav-list">
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-6/he-thong-vien-thong">Hệ thống viễn thông</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-6/phat-trien-ung-dung-web">Phát triển ứng dụng web</a></li>
                                </ul>
                            </li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 1 năm 4</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 2 năm 4</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 1 năm 5</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 2 năm 5</a></li>
                    </ul>
                </li>
                <li class="header_item hide-on-mobile">
                    <a href="" class="header_item-link"> LIÊN KẾT</a>
                    <ul class="header_navbar-list">
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="https://www.facebook.com/groups/actvn.edu.vn" target="_blank">Group KMA</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="http://pcdcourses.somee.com/" target="_blank">Khóa học free</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="https://www.youtube.com/channel/UCvSkmTXALKYjA2LJziDifdA/playlists" target="_blank">Kênh Youtube</a></li>
                    </ul>
                </li>
                {{#if user}}
                <li class="header_item hide-on-mobile hide-on-tablet">
                    
                   <a class="header_item-link" href="" >XEM SAU</a>
                    
                    <ul class="header_navbar-later">
                        {{#each ClientCourseList}}
                        <li class="header_navbar-later_item">
                            <img class="header_navbar-later_item--img" src="{{this.image}}" alt="">
                            <a href="/courseDetail/{{this._term}}/{{this.slug}}" class="header_navbar-later_item--link" >{{this.name}}</a>
                            <a href="/deleteClient/{{this._id}}" style="color:red"><i class="fas fa-times"></i></a>
                        </li>
                        {{else}}
                        <li class="header_navbar-later_item">Danh sách trống</li>
                        {{/each}}
                       
                    </ul>

                </li> 
                {{/if}}
                <li onclick="showSearchMB()" class="header_item header_searchMB hide-on-pc">
                    <i class="fas fa-search header_searchMB-link"></i>
                </li>
                <li class="header_item hide-on-mobile">
                    <form method="POST" action="/course" class="header_item-form form-inline my-2 my-lg-0">
                        <input class="header_item-input form-control mr-sm-2" type="search" name="search" placeholder="Tìm kiếm tại đây" aria-label="Search" required>
                        <button class="header_item-button btn btn-outline-light my-2 my-sm-0" type="submit">Tìm kiếm</button>
                    </form>
                </li>
               {{#if user}}
               <li class="header_item hide-on-mobile hide-on-tablet"> 
                   <img class="header_item-img" src="/img/vietnam.png" alt=""><a href="" class="header_item-link" >{{user.name}}</a>
                         <ul class="header_navbar-list">
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="/logout">ĐĂNG XUẤT</a></li>
                         </ul>
               </li>
                
               {{else}}
               <li class="header_item hide-on-mobile">
                    <a href="/loginClient" class="header_item-link"> ĐĂNG NHẬP</a>
                </li>
                 <li class="header_item hide-on-mobile">
                    <a href="/register" class="header_item-link"> ĐĂNG KÝ</a>
                </li>
               {{/if}}
               
            </ul>
            <div class="searchMB hide-on-pc">
                <form method="POST" action="/course" class="form-inline my-lg-0">
                    <div class="searchMB_wrap grid wide">
                        <input class="form-control searchMB-input mr-sm-2" type="search" name="search" placeholder="Tìm kiếm tại đây" aria-label="Search" required>
                         <button class="header_item-button btn btn-danger my-2 " type="submit">Tìm kiếm</button>
                    </div>   
                </form>
            </div> 
            <ul class="listMB hide-on-pc">
                <i class="fas fa-times" style="float: right; padding:8px 12px" onclick="hideListMB()"></i>
                {{#if user}}
                <li class="listMB-item"> 
                   <a href="" class="listMB-item_link" ><img class="header_item-img" src="/img/vietnam.png" alt="">{{user.name}}</a>
                </li>
                 <li class="listMB-item"><a class="listMB-item_link" href="/logout"><i class="fas fa-power-off mr-4" style="color:red"></i>Đăng xuất</a></li>
               {{else}}
                <li class="listMB-item">
                     <a href="/register" class="listMB-item_link"> Đăng kí</a>
                </li>
                <li class="listMB-item">
                    <a href="/loginClient" class="listMB-item_link">Đăng nhập </a>    
                </li>
                {{/if}}
                <li class="listMB-item">
                    <a  class="listMB-item_link" href="/">Trang chủ</a>
                </li>
                {{#if user}}
                <li class="listMB-item" onclick="showSeenLaterMB()">
                    <a  class="listMB-item_link">Danh sách xem sau</a>
                </li>
                 {{#each ClientCourseList}}
                <li class="listMB-item seenLater">
                    <img class="header_navbar-later_item--img" src="{{this.image}}" alt="">
                    <a href="/courseDetail/{{this._term}}/{{this.slug}}" class="header_navbar-later_item--link" >{{this.name}}</a>
                    <a href="/deleteClient/{{this._id}}" style="color:red"><i class="fas fa-times"></i></a>
                </li>
                 {{else}}
                <li class="header_navbar-later_item">Danh sách trống</li>
                {{/each}}
                 {{/if}}

                <li class="listMB-item">
                    <a  class="listMB-item_link" href="http://pcdcourses.somee.com/"  target="_blank">Khóa học free</a>
                </li>
                <li class="listMB-item">
                    <a  class="listMB-item_link" href="https://www.youtube.com/channel/UCvSkmTXALKYjA2LJziDifdA/playlists" target="_blank">Kênh Youtube</a>
                </li>
                <li class="listMB-item" onclick="showAdminMB()"><a class="listMB-item_link">Công cụ quản trị</a></li> 
                <li class="listMB-item adMB"><a class="listMB-item_link" href="/course/create">Đăng khóa học</a></li>
                <li class="listMB-item adMB"><a class="listMB-item_link" href="/me/stored/course">Tổng hợp khóa học</a></li>
                <li class="listMB-item"> 
                   <a href="" class="listMB-item_link" ><img class="header_item-img" src="/img/momo.png" alt="">0397.677.583</a>
                </li>
                <li class="listMB-item"> 
                   <a href="" class="listMB-item_link" ><img class="header_item-img" src="/img/mbbank.png" alt="">9500101422009</a>
                </li>
            </ul>
            <div class="overley hide-on-pc" onclick="hideListMB()"></div>
        </div>
    </div>
</header>
<script>
    var listMB= document.querySelector('.listMB');
    var overlay= document.querySelector('.overley');
    var adminMB= document.getElementsByClassName('adMB')
    var seenLater =document.getElementsByClassName('seenLater')
    function showSearchMB(){
        searchMB= document.querySelector('.searchMB');
       searchMB.style.display= (searchMB.style.display == 'none') ? 'block' : 'none';
    }
    
    function showListMB(){
           listMB.style.display='block';
           overlay.style.display="block"; 
    }

    function hideListMB(){
           listMB.style.display='none' 
           overlay.style.display="none"; 
    }
    function showAdminMB(){
           for(var i=0; i< adminMB.length; i++){
               adminMB[i].style.display=(adminMB[i].style.display == 'none') ? 'block' : 'none';
           }
    }
    function showSeenLaterMB() {
            for(var i=0; i< seenLater.length; i++){
               seenLater[i].style.display=(seenLater[i].style.display == 'none') ? 'flex' : 'none';
           }
    }

    
</script>