<div class="course grid wide">
    <div class="course_term hide-on-mobile">
        <ul class="term">
            <li class="term_item"><a href="" class="term_item-link">
                <i class="fas fa-cogs"></i>
                Công cụ quản trị</h1>
                </a>
                <ul class="term_suv-list hide-on-tablet">
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/course/create">Đăng khóa học</a></li>
                     <li class="term_suv-item"><a class="term_suv-item_link" href="/me/stored/course">Khóa học của tôi</a></li>
                </ul>
                
            </li>
            <li class="term_item"><a href="" class="term_item-link">
                <i class="fas fa-mouse"></i>
                Học kì 1 năm nhất
                </a>
            </li>
            <li class="term_item"><a href="" class="term_item-link">
                <i class="fas fa-file-csv"></i>
                Học kì 2 năm nhất
                </a>
            </li>
            <li class="term_item"><a href="" class="term_item-link">
                <i class="fas fa-book-open"></i>
                Học kì 1 năm 2
                </a>
            </li>
            <li class="term_item"><a href="/courseDetail/ki-4" class="term_item-link">
                <i class="fas fa-camera"></i>
                Học kì 2 năm 2
                </a>
                <ul class="term_suv-list">
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-5/quan-tri-mang-may-tinh">Quản trị mạng máy tính</a></li>
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-4/chuong-trinh-dich">Chương trình dịch</a></li>
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-4/dien-tu-tuong-tu-va-so">Điên tử tương tự - số</a></li>
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-4/tieng-anh-2">Tiếng Anh 2</a></li>
                </ul>
             </li>
            <li class="term_item"><a href="/courseDetail/ki-5" class="term_item-link">
                <i class="fas fa-music"></i>
                Học kì 1 năm 3
                </a>
                <ul class="term_suv-list">
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-5/cau-truc-du-lieu-va-giai-thuat">Cấu trúc dữ liệu giải thuật</a></li>
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-5/he-quan-tri-co-so-du-lieu">Hệ quản trị CSDL</a></li>
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-5/co-so-ly-thuyet-truyen-tin">Cơ sở lý thuyết truyền tin</a></li>
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-5/xu-ly-tin-hieu-so">Xử lý tín hiệu số</a></li>
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-5/thuat-toan-an-toan-thong-tin">Thuật toán ATTT</a></li>
                </ul>
             </li>
            <li class="term_item"><a href="/courseDetail/ki-6" class="term_item-link">
                <i class="fas fa-school"></i>
                Học kì 2 năm 3
                </a>
                <ul class="term_suv-list">
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-6/he-thong-vien-thong">Hệ thống viễn thông</a></li>
                    <li class="term_suv-item"><a class="term_suv-item_link" href="/courseDetail/ki-6/phat-trien-ung-dung-web">Phát triển ứng dụng Web</a></li>
                </ul>
             </li>
            <li class="term_item"><a href="" class="term_item-link">
                 <i class="fas fa-university"></i>
                Học kì 1 năm 4
                </a>
             </li>
            <li class="term_item"><a href="" class="term_item-link">
                <i class="fas fa-graduation-cap"></i>
                Học kì 2 năm 4
                </a>
             </li>
            <li class="term_item"><a href="" class="term_item-link">
                 <i class="fas fa-leaf"></i>
                Học kì 1 năm 5
                </a>
             </li>
            <li class="term_item"><a href="" class="term_item-link">
                  <i class="fas fa-ad"></i>
                Học kì 2 năm 5
                </a>
             </li>
        </ul>
    </div>
   
    <div class="course_item">
        <ul class="course_menuMB-list hide-on-pc">
            <li class="course_menuMB-item"><a href="" class="course_menuMB-item_link">Học kì 1 năm nhất</a></li>
            <li class="course_menuMB-item"><a href="" class="course_menuMB-item_link">Học kì 2 năm nhất</a></li>
            <li class="course_menuMB-item"><a href="" class="course_menuMB-item_link">Học kì 1 năm hai</a></li>
            <li class="course_menuMB-item"><a href="/courseDetail/ki-4" class="course_menuMB-item_link">Học kì 2 năm hai</a></li>
            <li class="course_menuMB-item"><a href="/courseDetail/ki-5" class="course_menuMB-item_link">Học kì 1 năm ba</a></li>
            <li class="course_menuMB-item"><a href="/courseDetail/ki-6" class="course_menuMB-item_link">Học kì 2 năm ba</a></li>
            <li class="course_menuMB-item"><a href="" class="course_menuMB-item_link">Học kì 1 năm bốn</a></li>
            <li class="course_menuMB-item"><a href="" class="course_menuMB-item_link">Học kì 2 năm bốn</a></li>
            <li class="course_menuMB-item"><a href="" class="course_menuMB-item_link">Học kì 1 năm năm</a></li>
            <li class="course_menuMB-item"><a href="" class="course_menuMB-item_link">Học kì 2 năm năm</a></li>
         </ul>
            <div class="row">
                <div class="course_item-youtube col l-12 c-12">
                    <iframe class="course_item-youtube_link" src="https://www.youtube.com/embed/jwSaYyk6nSw?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
            {{#each courses}}
            <div class="col l-4 c-12">
                   <div class="item">
                        <a href="/courseDetail/{{this._term}}/{{this.slug}}"><img class="item_img" src="{{this.image}}" alt="{{this.image}}"></a>
                        <div class="item_content">
                            
                            <p class="item_content-title"><a href="/courseDetail/{{this._term}}/{{this.slug}}">{{this.name}}</a></p>
                            <p class="item_content-teacher">Giảng Viên: {{this.teacher}}</p>
                            <p class="item_content-term">{{this.term}}</p>
                        </div>
                   </div>

            </div>
            {{else}}
            <div class="alert alert-success mt-4 col l-12 c-12" style="font-size:2.0rem;border-radius:8px" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Định hack website à cưng, ad đề phòng trường hợp này rồi !!! </p>
                <hr>
                <p class="mb-0">Quay lại page có sẵn !!!  (^:^) NHANH !!!</p>
            </div>
             {{/each}}
            <nav class="course_pagination col l-12">
                <ul class="pagination course_pagination-list">
        
                </ul>
            </nav>
           
        
            
        </div>
    </div>
</div>

<script>
    var pageNumber = Math.ceil({{count}} / 9)
    var pageCurrent= 'data-id=' + {{page}};
    var coursePaginationList = document.querySelector('.course_pagination-list');
   
   

    for(i = 1 ; i <= pageNumber ; i++){      
        var item=`<li class="page-item course_pagination-item data-id=${i}"> <a class="page-link" href="?page=${i}" >${i}</a></li>`
        coursePaginationList.innerHTML+=item;
    }
   
       var coursePaginationItem =Array.prototype.slice.call(document.querySelectorAll('.course_pagination-item'));
            coursePaginationItemActive=coursePaginationItem.filter(coursePaginationItemActive => 
                    coursePaginationItemActive.classList[2] == pageCurrent );
            coursePaginationItemActive[0].classList.add('active');
 

    
</script>

