<div class="grid wide">

    <div class="courseCreate">
        <div class="courseCreate_wrap">
            <h3>CẬP NHẬT CHI TIẾT</h3>
            <form method="POST" action="/courseDetail/{{course.term}}/{{course._slug}}/{{course._id}}?_method=PUT">
                <div class="courseCreate_form">
                    <label for="name">Tên khóa học</label>
                    <input type="text" class="form-control" value="{{course.name}}" id="name" name="name" >
                </div>
                <div class="courseCreate_form">
                    <label for="lesson">Buổi học</label>
                    <input type="text" class="form-control" value="{{course.lesson}}" id="lesson" name="lesson">
                </div>
                <div class="courseCreate_form">
                    <label for="videoId">Liên kết Video</label>
                    <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
                </div>
                <div class="courseCreate_form">
                    <label for="term">Học kì theo khóa</label>
                    <input type="text" class="form-control" value="{{course.term}}" id="term" name="term" >
                </div>
                  <div class="courseCreate_form">
                    <label for="_slug">Trường Slug</label>
                    <input type="text" class="form-control" value="{{course._slug}}" id="_slug" name="_slug" >
                </div>
                <button type="submit" class="courseCreate_form-btn">LƯU KHÓA HỌC</button>
            </form>
        </div>
    </div>
</div>