<div class="grid wide">
    <div class="courseCreate">
        <div class="courseCreate_wrap">
            <h3>ĐĂNG KÍ</h3>
            {{!-- <form method="POST" enctype="multipart/form-data"> --}}
            <form method="POST">
                 <div class="courseCreate_form">
                    <label for="name">Họ Tên</label>
                    <input type="text" class="form-control" id="name" name="name" {{#if name}} value="{{name}}" {{/if}} required>   
                </div>
                <div class="courseCreate_form">
                    <label for="user">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="user" name="user" {{#if username}} value="{{username}}" {{/if}}  required>
                    {{#if errorUser}}
                    <div class="alert alert-danger courseCreate_error alert-dismissible fade show" role="alert">
                        <strong>Cảnh báo !!! </strong> {{errorUser}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                </div>
                <div class="courseCreate_form">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" name="password" {{#if password}} value="{{password}}" {{/if}} minlength="8" required>
                </div>
                 <div class="courseCreate_form">
                    <label for="rePassword">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" id="rePassword" name="rePassword" required>
                    {{#if errorPassword}}
                    <div class="alert alert-danger courseCreate_error alert-dismissible fade show" role="alert">
                        <strong>Cảnh báo !!! </strong> {{errorPassword}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                </div>
                {{!-- <div class="courseCreate_form">
                    <label for="avatar">Tải ảnh đại diện</label>
                    <input type="file" class="form-control-file" id="avatar" name="avatar" required>
                </div> --}}
                <button type="submit" class="courseCreate_form-btn">Đăng Ký</button>
            </form>

        </div>
    </div>
</div>